<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crazy Url Shortener</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <h1>Crazy URL Shortener</h1>
    {{{body}}}
  </body>
</html>
