<h2>Here's a list of some CRAZY Urls</h2>
{{#each crazyUrls as |crazyUrl index|}}
<h3>
<a href="/crazyUrls/{{crazyUrl.oldUrl}}">View</a>
<a href="http:// + {{crazyUrl.oldUrl}}">{{crazyUrl.oldUrl}} has been converted to {{crazyUrl.newUrl}}</a>
</h3>
{{/each}}

<div>
  <a href="/">Create a New URL</a>
</div>
